.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

.appLayout {
  display: flex;
}

.mapContainer {
  flex: 2;
  /* height: 54vh;  */
  height: 100%;
  /* margin-left: 2px; Adjust according to sidebar width */
}
